{% load static %}
<section class="menu">
  <nav class="menu__navbar">
    <a href="{% url 'home' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}" /> Home</a>
    <a href="{% url 'login' %}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}" />
      Login</a>
    <a href="{% url 'register' %}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}" />
      Cadastro</a>
    <a href="{% url 'logout' %}"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}" />
      Logout</a>
  </nav>
</section>