{% extends 'shared/base.html' %} {% load static %} {% block content%}
<section class="conteudo">
    <section class="image">
        <div class="image__content">
            {% if picture.src == "" or picture.src == null %}
              <img class="image__image" src="{% static '/assets/imagens/galeria/not-found.png'%}" alt="foto" />
            {% else %}
              <img class="image__image" src="{{ picture.src.url }}" alt="foto" />
            {% endif %}
            <div class="image__info">
                <div class="image__text">
                    <p class="image__title">{{picture.name}}</p>
                    <p class="image__description">{{picture.legend}}</p>
                    <p class="image__text">{{picture.description}}</p>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}