{% extends 'shared/base.html' %} {% load static %} {% block content%}
<section class="gallery" style="margin-left: 5em">
  <form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <div class="row">
      {% for field in form.visible_fields %}
        <div class="col-12 col-lg-12"  style="margin-bottom: 10px;">
          <label style="color:#D9D9D9; margin-bottom: 5px;" class="" for="{{ field.id_for_label }}">{{field.label}}</label>
          {{ field }}
        </div>
      {% endfor %}
      <div class="col-12 text-center">
        <button class="btn btn-success col-12" type="submit">Cadastrar</button>
      </div>
    </div>
  </form>
</section>
{% endblock %}